# Binários compilados
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.bin

# Diretórios de saída
/dist
/build
/bin
/vendor

# Arquivos de depuração
*.log
*.nvram
*.swp
*.swo
*.tmp
*.temp

# Dependências
Gopkg.lock
go.sum
node_modules/

# Arquivos gerados automaticamente
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs e editores
.idea/
*.swp
*.swo
.vscode/
*.sublime-workspace

# Sistema Operacional
.DS_Store
Thumbs.db

# Outros
*.gz
*.tar
*.zip
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Pasta que podem conter dados sensíveis
certs/
secret/

# Arquivos específicos do React
/public
/.cache/
/coverage/
/build/
