# Binários compilados
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Pastas de dependência
/vendor/
/node_modules/

# Arquivos de log
*.log
*.sql
*.sqlite

# Arquivos de configuração local
.env
.env.local

# Arquivos de cache
*.cache

# Outros arquivos que devem ser ignorados
.DS_Store
.idea/
*.swp
*~
